<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <h1>Scenario Comparison</h1>
  <script>
    let scenarios = {{ raw(json(scenario_data)) }}
    console.log(scenarios);
  </script>
  <div class="columns">
    {% for s in scenario_data %}
      {% scope %}
        {% set metric_data = s.metric_data %}
        {% set scenario = s.scenario %}
        {% set year = s.year %}
        <div class="column">
          {% include "scenario_detail.html" %}
        </div>
      {% endscope %}
    {% endfor %}
  </div>

</body>

</html>